body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  letter-spacing: 1px;
  min-width: 820px;
  box-sizing: border-box;
}
